html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: grey;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


main {
  background-color: white;
  text-align: center;
  align-items: center;
  width: 230px;
}

#name {
  display: flex;
  margin: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#brand {
  display: none;
}

#status {
  text-align: right;
  color: lightgray;
  padding: 10px;
  
}

img {
  border-radius: 50%;
  border: green 3px solid;
}

#occupation {
  background-color: rgb(243, 243, 243);
  padding: 3px;
}

#contact {
  display: flex;
  justify-content: space-evenly;  
  background-color: rgb(78, 180, 121);;
}

#contact > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 50%;
  /* takes up 50% of the container= splits the element */
}

#phone {
  background-color: rgb(95, 196, 120);
  padding: 13px;
}

#chat {
  background-color: rgb(41, 158, 90);
  padding: 13px;
}

/* MEDIA QUERY */


 @media only screen and (min-width: 768px) {
  main { 
    display: grid;
    grid-template-columns: 40% 60%; 
    grid-template-rows: auto auto auto auto;
    width: 500px;
    text-align: left;
    text-align: left;
    grid-template-areas: 
      "status name"
      "img occupation"
      "contact offer";
  }
  #status {
    grid-area: status;
  }

  #name {
    grid-area: name;
    text-align: left;
    background-color: lightgray;
  }

  img {
    display: grid;
    grid-area: img;
    margin-bottom: 35px;
    margin-left: 35px;
  }

  #occupation {
    display: block;
    text-align: left;
    grid-area: occupation;
    background-color: lightgray;
  }
  
#brand {
    display: grid;
  }
  
  #contact {
    grid-area: contact;
    height: 100%;
  }

  #offer {
    grid-area: offer;
    background-color: lightgray;
  }
}  
